<div class="holes-line">
  <div class="hole"/>
  <div class="hole"/>
  <div class="hole"/>
</div>
<div class="holes-line">
  <div class="hole"/>
  <div class="hole"/>
</div>
<div class="holes-line">
  <div class="hole"/>
  <div class="hole"/>
  <div class="hole"/>
</div>
