<div class="score-container">
  <h1>Score</h1>
  <h2>
    <div class="current-score">{{score}}</div>
  </h2>
</div>

<div class="time-container">
  <h1>Time</h1>
  <h2>
    <div class="current-time">{{time}}</div>
  </h2>
</div>